.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  textarea#description.mdl-textfield__input(type='text' rows='5' name="description" required)= request.description
  label.mdl-textfield__label(for='description') Description
label(for='type') Type
.mdl-textfield.mdl-js-textfield
  select#type.mdl-textfield__input(name="type" value=request.type)
    each option in ['repair', 'maintenance']
      option(value=option selected=(request.type == option ? true : false ))= option
  

input.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type="submit" value="Save")
