extends ../userarea
 
block content
  .mdl-grid
    .mdl-cell.mdl-cell--6-col
      form.app-form(action="/requests" enctype="multipart/form-data" method="post")
        include ./_form
    .mdl-cell.mdl-cell--6-col

