doctype html
html
  head
    title= title
    if env == 'development'
      link(rel="stylesheet" href="/bower_components/material-design-lite/material.min.css")
      script(src="/bower_components/material-design-lite/material.min.js")
    else
      link(rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      script(defer src="https://code.getmdl.io/1.2.0/material.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
 
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.app-header.mdl-layout__header
        .mdl-layout__header-row
          
          span.mdl-layout-title= title
          
          .mdl-layout-spacer
          
          nav.app-navigation__top.mdl-navigation.mdl-layout--large-screen-only.mdl-color-text--white
            a.mdl-navigation__link(href='/') Home
            if user
              a.mdl-navigation__link(href='/requests') Requests
              a.mdl-navigation__link(href='/auth/logout') Logout
            else
              a.mdl-navigation__link(href='/login') Login
              a.mdl-navigation__link(href='/signup') Signup

      .mdl-layout__drawer
        span.mdl-layout-title Tracker App
        nav.mdl-navigation
          a.mdl-navigation__link(href='/') Home
          if user
            a.mdl-navigation__link(href='/requests') Requests
            a.mdl-navigation__link(href='/auth/logout') Logout
          else
            a.mdl-navigation__link(href='/login') Login
            a.mdl-navigation__link(href='/signup') Signup
      main.mdl-layout__content
        .page-content
          
          block content
