extends ../../userarea

block content
  .mdl-grid
    .mdl-cell
      a.mdl-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored(href="/admin/experts")
        i.material-icons arrow_back
  .mdl-grid.app-grid-320
    form.mdl-card.app-mdl-card.mdl-shadow--2dp(action=`/admin/experts/${expert.id}` method="post")
      include ./_form
